.container {
    padding: 1%;
    background-color: rgb(71, 66, 66);
}

.card {
    border: 4px solid white;
    border-radius: 6px;
    text-align: center;
    margin-top: 5%;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: bisque;
}

.head {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
}

.form-group {
    padding: 5%;
}

.pp {
    margin-top: 7%;
}