<!-- <div class="heading">
    <h1>Service at click</h1>



    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_5terre.jpg">
                <img src="assets/gardener.jpg" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Gardener we know that knowdays if you have to maintain your lawn <br> you need a gardener for doing that job so you can simply visit the sit and hire a gardener. </div>
        </div>
    </div>


    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_forest.jpg">
                <img src="assets/electrician.jpg" alt="Forest" width="600" height="400">
            </a>
            <div class="desc">Well Electricians are one of the most commonly needed person <br> just visit the site and hire</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_lights.jpg">
                <img src="assets/plumber.jpg" alt="Northern Lights" width="600" height="400">
            </a>
            <div class="desc"> Hard to find a plumber dont worry just create a account and just hire worker near <br> at cheaper rates </div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_mountains.jpg">
                <img src="assets/carpenter.webp" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Dont just get stuck on a specific worker. <br> Hire a cheaper worker just by click and get a work done accurately by the given time </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div style="padding:6px;">
        <p>These are the some of the services that our site provides there are many more create a acoount to know more </p>
        <p></p>
    </div>
</div> -->

<main class="main">
    <section class="glass">
        <div class="dashboard">
            <div class="user">

                <h3>Mental health Group </h3>
                <p></p>
            </div>
            <div class="links">
                <div class="link">
                    <img src="" alt="" />
                    <h2>Various health Group</h2>
                </div>
                <!-- <div class="link">
                    <img src="./images/steam.png" alt="" />
                    <h2>Games</h2>
                </div> -->
                <!-- <div class="link">
                    <img src="./images/upcoming.png" alt="" />
                    <h2>To J</h2>
                </div> -->
                <!-- <div class="link">
                    <img src="./images/library.png" alt="" />
                    <h2>Library</h2>
                </div> -->
            </div>
            <div class="pro">
                <h2>Join by creating a account.</h2>
                <img src="" alt="" />
            </div>
        </div>
        <div class="games">
            <div class="status">
                <h1>Some of the Group</h1>

            </div>
            <div class="cards">
                <div class="card">
                    <img src="assets/m1.jpg" alt="" id="pic" />
                    <div class="card-info">
                        <h2>Mental Health</h2>
                        <p>Join by just creating a account</p>
                        <div class="progress"></div>
                    </div>
                    <h2 class="percentage"> Active by 60%</h2>
                </div>
                <div class="card">
                    <img src="assets/m2.jpg" alt="" id="pic" />
                    <div class="card-info">
                        <h2>Cancer Warriors</h2>
                        <p>Join by just creating a account</p>
                        <div class="progress"></div>
                    </div>
                    <h2 class="percentage"> Rating 70%</h2>
                </div>
                <div class="card">
                    <img src="assets/m3.jpg" alt="" id="pic" />
                    <div class="card-info">
                        <h2>Sucide Prevention</h2>
                        <p>Join by just creating a account</p>
                        <div class="progress"></div>
                    </div>
                    <h2 class="percentage"> Active by 73%</h2>
                </div>

                <div class="card">
                    <img src="assets/m4.jpg" alt="" id="pic" />
                    <div class="card-info">
                        <h2>Dear and near ones loss</h2>
                        <p>Join by just creating a account</p>
                        <div class="progress"></div>
                    </div>
                    <h2 class="percentage"> Active by 60%</h2>
                </div>
                <div class="card">

                    <div class="card-info">
                        <h2>To Know More </h2>
                        <p>Log in</p>

                    </div>

                </div>
            </div>

        </div>
    </section>
</main>
<div class="circle1"></div>
<div class="circle2"></div>