<!-- <div class="heading">
    <h1>Service at click</h1>



    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_5terre.jpg">
                <img src="assets/gardener.jpg" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Gardener we know that knowdays if you have to maintain your lawn <br> you need a gardener for doing that job so you can simply visit the sit and hire a gardener. </div>
        </div>
    </div>


    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_forest.jpg">
                <img src="assets/electrician.jpg" alt="Forest" width="600" height="400">
            </a>
            <div class="desc">Well Electricians are one of the most commonly needed person <br> just visit the site and hire</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_lights.jpg">
                <img src="assets/plumber.jpg" alt="Northern Lights" width="600" height="400">
            </a>
            <div class="desc"> Hard to find a plumber dont worry just create a account and just hire worker near <br> at cheaper rates </div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_mountains.jpg">
                <img src="assets/carpenter.webp" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Dont just get stuck on a specific worker. <br> Hire a cheaper worker just by click and get a work done accurately by the given time </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div style="padding:6px;">
        <p>These are the some of the services that our site provides there are many more create a acoount to know more </p>
        <p></p>
    </div>
</div> -->

<main class="main">
    <section class="glass">
        <div class="dashboard">
            <div class="user">
                <img src="./images/avatar.png" alt="" />
                <h3>Service Provider Site </h3>
                <p></p>
            </div>
            <div class="links">
                <div class="link">
                    <img src="" alt="" />
                    <h2>Services</h2>
                </div>
                <!-- <div class="link">
                    <img src="./images/steam.png" alt="" />
                    <h2>Games</h2>
                </div> -->
                <!-- <div class="link">
                    <img src="./images/upcoming.png" alt="" />
                    <h2>To J</h2>
                </div> -->
                <!-- <div class="link">
                    <img src="./images/library.png" alt="" />
                    <h2>Library</h2>
                </div> -->
            </div>
            <div class="pro">
                <h2>Join for services.</h2>
                <img src="" alt="" />
            </div>
        </div>
        <div class="games">
            <div class="status">
                <h1>Some of the services</h1>

            </div>
            <div class="cards">
                <div class="card">
                    <img src="assets/gardener.jpg" alt="" id="pic" />
                    <div class="card-info">
                        <h2>Gardener</h2>
                        <p>Hire by just creating a account</p>
                        <div class="progress"></div>
                    </div>
                    <h2 class="percentage"> Rating 60%</h2>
                </div>
                <div class="card">
                    <img src="assets/electrician.jpg" alt="" id="pic" />
                    <div class="card-info">
                        <h2>Electrician</h2>
                        <p>Hire by just creating a account</p>
                        <div class="progress"></div>
                    </div>
                    <h2 class="percentage"> Rating 70%</h2>
                </div>
                <div class="card">
                    <img src="assets/carpenter.webp" alt="" id="pic" />
                    <div class="card-info">
                        <h2>Carpenter</h2>
                        <p>Hire by just creating a account</p>
                        <div class="progress"></div>
                    </div>
                    <h2 class="percentage"> Rating 73%</h2>
                </div>

                <div class="card">
                    <img src="assets/plumber.jpg" alt="" id="pic" />
                    <div class="card-info">
                        <h2>Plumber</h2>
                        <p>Hire by just creating a account</p>
                        <div class="progress"></div>
                    </div>
                    <h2 class="percentage"> Rating 60%</h2>
                </div>
                <div class="card">

                    <div class="card-info">
                        <h2>To Know More </h2>
                        <p>Click on Services at top</p>

                    </div>

                </div>
            </div>

        </div>
    </section>
</main>
<div class="circle1"></div>
<div class="circle2"></div>

<div class="second">



    <main>
        <section class="glass">
            <div class="dashboard">
                <div class="user">
                    <img src="./images/avatar.png" alt="" />
                    <h3>HOW TO JOIN </h3>
                    <p>To be a part of serice provider is by a just creating a account in this site <br>and enjoy all the features</p>
                </div>
                <!-- <div class="links">
                    <div class="link">
                        <img src="" alt="" />
                        <h2></h2>
                    </div>

                </div> -->
                <!-- <div class="pro">
                    <h2>Join for services.</h2>
                    <img src="" alt="" />
                </div> -->
            </div>
            <div class="games">
                <div class="status">
                    <h1>How Does it work</h1>

                </div>
                <div class="cards">
                    <div class="card">

                        <div class="card-info">
                            <h2>TO JOIN</h2>
                            <p>If you are a service provider signup and enlist youself as Service <br> provider and you would be enlisted by accepting the terms and conditions</p>
                            <div class="progress"></div>
                        </div>
                        <!-- <h2 class="percentage"> Rating 60%</h2> -->
                    </div>

                    <div class="card">

                        <div class="card-info">
                            <h2> TO HIRE</h2>
                            <p>Sign up and start using the various services provided by the workers and hire them by single click</p>

                        </div>

                    </div>
                </div>
            </div>

        </section>


    </main>


</div>